node_modules
npm-debug.log
pnpm-debug.log
.git
.gitignore
.env
.env.*
!.env.example
uploads/*
!uploads/.gitkeep
dist
*.pem
*.log
docker/data
README.md
STRUCTURE.md
*.postman_collection.json
.babelrc
publish.ps1
